.header{
    display: flex;
    justify-content: space-between;    
    align-items: center;

}

ul{
    display: none;
    list-style-type: none;
    text-align: left;
    margin-right: 10px;
}
.conactus{
    display: block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 45%;
    padding: 10px;
    max-width: 60px;
}

.logo{
    display: block;
    max-width: 380px;
    width: 100%;

}

@media screen and (min-width: 631px) { 
    ul{
        display: block;
    }
    .conactus{
        display: none;
    }
}